.media-content {
  display: block;
  padding: 1em 0em;
  margin: 0.5em;
  width: 23%;
  height: max-content;
}

.thumbnail {
  width: 100%;
  height: 75%;
  margin-bottom: 7px;
}

.style-scope {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fafbfc;
}

.tag-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.user-name {
  padding: .5rem 1rem;
  display: inline-block;
  font-size: 1.25rem;
  border: 1px solid transparent;
  position: absolute;
  top: 5px;
  right: 100px;
}
