{{define "header"}}
<html>
<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet"
    href="https://stackpath.bootsrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
</html>
<body class="bg-light">
    <div class="container bg-white p-0">
        <nav class="navbar-expand-sm navbar navbar-dark p-1 bg-primary justify-content-between">
            <ul class="nav-item active">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Top</a>
                </li>
            </ul>
        </nav>
        <div class="p-3">

{{ end }}
