{{ template "header" .}}

<h4 class="mt-4">Post list</h4>
<div class="style-scope">
{{ range $n, $Item := .PostList }}
  <div class="media media-content">
    <a href="/post?pid={{ $Item.Model.ID }}">
        <img class="thumbnail" src="https://i.ytimg.com/vi/{{ $Item.Address }}/hq720.jpg" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h5 class="mt-0">{{ $Item.Message }}</h5>
    </div>
  </div>
{{ end }}
</div>

<h4 class="mt-4">Group list.</h4>
{{ range $n, $Item := .GroupList }}
  <div class="media border m-1 p-2">
    <div class="media-body">
      <a href="/group?gid={{ $Item.ID }}"><h5 class="mt-0">{{ $Item.Name }}</h5></a>
      {{ $Item.Message }}
    </div>
  </div>
{{ end }}

{{ template "footer" }}
