{{ template "header" .}}
<form method="post" action="/delete-post?pid={{ .Post.ID }}">
  <div class="card m-1 p-2 text-center">
    <div>
      <iframe width="100%" height="600px" src="https://www.youtube.com/embed/{{ .Post.Address }}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div class="card-body">
      <h5 class="mt-0">{{ .Post.Title }}</h5>
      {{ range $n, $tag := .TagList }}
        {{ if ne $tag.ID 0 }}
          <a href="/tag?tagId={{ $tag.ID }}">#{{ $tag.Name }}</a>
        {{ end }}
      {{ end }}
      {{ if .IsMyPost}}
        <a href="/post-edit?pid={{ .Post.ID }}" class="btn btn-primary mb-2">編集</a>
        <button id="js-show-popup" type="button" class="btn btn-primary mb-2">削除</button>
      {{ end }}
    </div>
  </div>

  <div class="popup" id="js-popup">
    <div class="popup-inner">
      <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
      <p>削除します？</p>
      <button type="submit" class="btn btn-primary mb-2">削除</button>
    </div>
    <div class="black-background" id="js-black-bg"></div>
  </div>
</form>

<form method="post" action="/post?pid={{ .Post.ID }}">
  <div class="form-group mt-4">
    <label for="message" class="h6">New Comment:</label>
    <textarea class="form-control" id="message" name="message" rows="1"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Post comment.</button>
</form>

<h4 class="mt-4">Comments.</h4>
{{ range $n, $Item := .CommentJoinList }}
  <div class="media m-1 p-1">
    <div class="media-body">
      <h6 class="mt-0">{{ $Item.Name }} : {{ $Item.Comment.Message }}</h6>
    </div>
  </div>
{{ end }}

<script>
  function popupImage() {
    let popup = document.getElementById('js-popup');
    if(!popup) return;

    let blackBg = document.getElementById('js-black-bg');
    let closeBtn = document.getElementById('js-close-btn');
    let showBtn = document.getElementById('js-show-popup');

    closePopUp(blackBg);
    closePopUp(closeBtn);
    closePopUp(showBtn);
    function closePopUp(elem) {
      if(!elem) return;
        elem.addEventListener('click', function() {
        popup.classList.toggle('is-show');
      });
    }
  }
  popupImage();
</script>
{{ template "footer" }}
